<!DOCTYPE html>
<html>
  <head>
    <title>NIGGAS</title>
  </head>
  <body style="background-color:{{ color }};">
    <center>
        <h1> The Apache webserver is running on {{ ansible_hostname }} </h1>
    </center>
  </body>
</html>
